<div class='flex-item'>
  <%= link_to product_path(product) do %>
    <h2><%= product.name %></h2>
  <% end %>
  <% if product.image.attached? %>
		<%= image_tag product.image,size: '25x25' %>
	<% end %>

  <h3><%= product.price %></h3>
  <h2><%= default_currency %></h2>
</div>