!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shopify on Rails
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = flash.each do |name, err|
      = content_tag :div, err, class: name
    %center
      = link_to 'Products', root_path
      |
      \#{link_to 'New Product', new_product_path}
      |
      \#{link_to 'Seed Products', seed_path, method: :post}
      %div{:style => "text-align: right"}
        = link_to 'Sign in', user_session_path unless user_signed_in?
        = link_to 'Log out', destroy_user_session_path,method: :delete if user_signed_in?
        = link_to 'Sign up', new_user_registration_path unless user_signed_in?
    = yield
